@import url("https://fonts.googleapis.com/css2?family=Sofia Sans Semi Condensed:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html,
body,
table,
tr,
th,
td,
#durak-no,
.btn,
.navbar-brand {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
  vertical-align: middle;
}

.big {
  font-size: 1.95rem !important;
}

.border-right {
  border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.center {
  vertical-align: middle !important;
  text-align: center !important;
  line-height: 1.5rem !important;
}

.navbar,
.card {
  box-shadow: 0 0 10px #000 !important;
}

#durak-no {
  border: 0;
  width: 100%;
  padding: 5px;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}

:-ms-input-placeholder {
  color: #fff;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}

::-ms-input-placeholder {
  color: #fff;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}

.btn {
  border-radius: 0;
}
