@import url("https://fonts.googleapis.com/css2?family=Sofia Sans Semi Condensed:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html,
body,
table,
tr,
th,
td,
#durak-no,
.btn,
.navbar-brand {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
  vertical-align: middle;
}

body {
  background-color: #ddd;
}

.big {
  font-size: 1.75rem !important;
}

.center {
  vertical-align: middle !important;
  text-align: center !important;
}

#durak-no {
  background-color: #ffffff77;
  border: 0;
  width: 100%;
  padding: 5px;
}

::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}

:-ms-input-placeholder {
  color: #000;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}

::-ms-input-placeholder {
  color: #000;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-size: 1.11rem;
}
